.navigation {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 28px;
    padding: 28px 12px;
}

.link {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    transition: all 200ms ease-in-out;
}

.link:hover {
    color: #ef36d0;
}

.active {
    text-decoration: underline;
    color: #ef36d0;
    text-decoration-color: #ef36d0;
    text-decoration-thickness: 2px;
}
